<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Inicial</title>
</head>

<body>
    <div class="container-background">
        <div class="container">
            <h2>Qual função deseja utilizar?</h2>
            <a href="{{ url_for('maximizacao') }}">Maximização de lucro</a><br>
            <a href="{{ url_for('minimizacao') }}">Minimização de custo</a>
            <a href="{{ url_for('maxAnaliseSensibilidade') }}">Maximização de lucro com Análise de Sensibilidade</a>
        </div>
    </div>
</body>

</html>